<div class="portfolio-header">
  <div class="header-left">
    <h1>{{ site.name }}</h1>
    <h2>{{ site.title }}</h2>
  </div>
  <div class="header-right">
    <ul class="icons">
      {% if site.github_username %}
        <li>
          <a target="_blank" href="https://github.com/{{ site.github_username }}" class="button button--sacnite button--round-l">
            <i class="fab fa-github"></i>
          </a>
        </li>
      {% endif %}
      {% if site.twitter_username %}
        <li>
          <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}" class="button button--sacnite button--round-l">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
      {% endif %}
      {% if site.linkedin_username %}
        <li>
          <a target="_blank" href="https://linkedin.com/in/{{ site.linkedin_username }}" class="button button--sacnite button--round-l">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
      {% endif %}
      {% if site.stackoverflow_id %}
        <li>
          <a target="_blank" href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}" class="button button--sacnite button--round-l">
            <i class="fab fa-stack-overflow"></i>
          </a>
        </li>
      {% endif %}
    </ul>
    {% if site.email %}
      <p>
        Email:
        <a href="mailto:&#99;&#104;&#97;&#110;&#107;&#104;&#97;&#118;&#117;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#99;&#104;&#97;&#110;&#107;&#104;&#97;&#118;&#117;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a>
      </p>
    {% endif %}
  </div>
</div>
