<div class="portfolio-section">
  <h3>Misc</h3>

  <div class="research" style="padding-bottom:1em;">
    <div class="research-illu">
      {% capture my_include %}
        {% include_relative sections/misc-hydra.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
    <div class="research-desc">
      {% capture my_include %}
        {% include_relative sections/misc-glc2020.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
  </div>

  <div class="research">
    <div class="research-illu">
      {% capture my_include %}
        {% include_relative sections/misc-eyesight.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>

    <!--
    <div class="research-desc">
      {% capture my_include %}
        {% include_relative sections/misc-mtl-survey.md %}
      {% endcapture %}
      {{ my_include | markdownify }}
    </div>
    -->
  </div>
</div>
