<div class="portfolio-section">
  <h3>Stuffs I find interesting</h3>

  <div class="research">
    <div class="research-illu">
    <a href="#">Distill.pub</a> &mdash; distilled knowledge from the noisy field of AI, presented in an clean, pleasantly beautiful, and interactive way.
    </div>
    <div class="research-desc">
      <a href="#">Trivial Remarks</a> &mdash; a beautiful mathematical blog by a prominent non-commutative algebraic geometer, in which very deep concepts are unfolded.
    </div>
  </div>

</div>
