<div class="portfolio-section">
  <h3>Timeline</h3>

  <div id="timeline">
      <div class="timelineitem">
        <div class="timelinelogo">
          <img src="/assets/img/microsoft.svg" style="width: 60%;" />
        </div>
        <div class="tdate">Oct 2019 &ndash; Now</div>
        <div class="ttitle">Microsoft, Redmond, United States</div>
        <div class="tdesc">Software Developer Engineer</div>
      </div>

      <div class="timelineitem">
        <div class="timelinelogo" style="background-color: #034ea2; border-color: #034ea2;">
          <img src="/assets/img/samsung-logo.svg" style="width: 85%;" />
        </div>
        <div class="tdate">Feb 2017 &ndash; Oct 2019</div>
        <div class="ttitle">Samsung Research, Ukraine</div>
        <div class="tdesc">Research Computer Vision/AI Engineer</div>
      </div>

      <div class="timelineitem">
        <div class="timelinelogo" style="border: 0px;">
          <img src="/assets/img/knu.png" style="width: 100%;" />
        </div>
        <div class="tdate">2017 &ndash; 2019</div>
        <div class="ttitle">Taras Shevchenko National University</div>
        <div class="tdesc">Master's degree in Applied Mathematics.</div>
      </div>

      <div class="timelineitem">
        <div class="timelinelogo" style="border: 0px;">
          <img src="/assets/img/knu.png" style="width: 100%; border: 0px;" />
        </div>
        <div class="tdate">2013 &ndash; 2017</div>
        <div class="ttitle">Taras Shevchenko National University</div>
        <div class="tdesc">Bachelor's degree in Applied Mathematics</div>
      </div>
  </div>
</div>
