<div class="donation-banner">
  <a href="https://war.ukraine.ua/"><b>My home country, Ukraine, is being invaded by Russia.</b></a> If you find this blog helpful,
  please consider donating for medical and humanitarian aid to help the victims. Even just $10 can save a
  life.

  <div class="donations-postcard-wrapper">
    <div class="donations-postcard-container">

      <a href="https://www.comebackalive.in.ua/donate" class="card float-on-hover">
        <div class="card-header">
          <img src="/assets/img/donations/comebackalive.svg" alt="" />
        </div>
        <div class="card-body">
          <div class="card-title">Come Back Alive</div>
          <div class="card-desc">Largest and most reputable charity fund in Ukraine. Helped to save many lives.</div>
        </div>
      </a>

      <a href="https://www.hospitallers.life/needs-hospitallers" class="card float-on-hover">
        <div class="card-header">
          <img src="/assets/img/donations/hospitaliers_logo.png" alt="" />
        </div>
        <div class="card-body">
          <div class="card-title">Hospitaliers (paramedics)</div>
          <div class="card-desc">Doctors and paramedics who help the wounded & injured on the front line every day.</div>
        </div>
      </a>

      <a href="https://novaukraine.org/donate/" class="card float-on-hover">
        <div class="card-header">
          <img src="/assets/img/donations/nova.png" alt="" />
        </div>
        <div class="card-body">
          <div class="card-title">Nova Ukraine (USA)</div>
          <div class="card-desc">US-based 501(c)(3) nonprofit organization. Donations are tax-deductable 😜</div>
        </div>
      </a>

    </div>
  </div><!-- postcard-wrapper -->
</div>