<div class="donation-banner">
  <a href="https://war.ukraine.ua/"><b>My home country, Ukraine, is currently being invaded by Russia.</b></a> If you find this blog post helpful,
  please consider donating for medical and humanitarian aid to help the victims. Even just $10 can feed a whole family for a week or save a life.

  <div class="donation-options">
    <a class="donation-helping-option" href="https://bank.gov.ua/en/news/all/natsionalniy-bank-vidkriv-spetsrahunok-dlya-zboru-koshtiv-na-potrebi-armiyi">
      <img class="donation-img" src="/assets/img/donations/nbu.jpg"/>
      <div class="donation-text">Donate to Ukrainian Army</div>
    </a>
    <a class="donation-helping-option" href="https://www.comebackalive.in.ua/donate">
      <img class="donation-img" src="/assets/img/donations/comebackalive.svg"/>
      <div class="donation-text">Donate for medical aid</div>
    </a>
  </div>
</div>