<!-- Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132324136-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132324136-1');
</script>

<!--
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
<link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|Roboto+Condensed:700&subset=latin' rel='stylesheet' type='text/css'>
-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<meta charset="UTF-8">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.name }}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}{% else %}{{ site.description }}{% endif %}">
{% if page.tags %}
  <meta name="keywords" content="{{ page.tags | join: ', ' }}">
{% endif %}

<!-- Twitter Cards -->
{% if page.image.feature %}
  {% capture feature %}{{ page.image.feature }}{% endcapture %}
  {% capture feature %}{{ site.url }}{{ feature }}{% endcapture %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ feature }}">
{% else %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ site.url }}{{ site.logo }}">
{% endif %}
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}{% else %}{{ site.description }}{% endif %}">
{% if site.twitter %}
  <meta name="twitter:site" content="@{{ site.twitter }}">
  <meta name="twitter:creator" content="@{{ site.twitter }}">
{% endif %}

<!-- Open Graph -->
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
<!--<meta property="og:site_name" content="{{ site.title }}">-->
{% if page.image.feature %}
  {% capture feature %}{{ page.image.feature }}{% endcapture %}
  {% capture feature %}{{ site.url }}{{ feature }}{% endcapture %}
  <meta property="og:image" content="{{ feature }}">
{% else %}
  <meta property="og:image" content="{{ site.url }}{{ site.logo }}">
{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1">
