---
---

@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,500,500italic,400italic,300italic,100italic,700italic);
//@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "folio_button";
@import "folio_timeline";
@import "variables";
@import "postcards";

.portfolio-wrap {
  max-width: 860px;
  padding: 4em 10px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  text-align: justify;
  color: rgb(51, 51, 51);
}

.portfolio-header {
  display:flex;
  flex-direction:row;
  justify-content: space-between;

  @media #{$medium} {
    display: block;
    text-align: center;
  }

  @media #{$small} {
    display: block;
  }
}

.portfolio-section {
  margin-top: 20px;
  p {
    margin-top: 0;
  }
  a {
    font-weight: 500;
  }
}

.portfolio-about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media #{$medium} {
    display: block;
  }
  @media #{$small} {
    display: block;
  }
}

.portfolio-about-ava {
  margin-left: 0.5rem;
  margin-right: 2rem;
}

.portfolio-about-bio {
  margin-left: 2em;
  @media #{$medium} {
    margin: 0 1rem;
  }
  @media #{$small} {
    margin: 0 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

h1 {
  font-size: 40px;
  margin-bottom: 0.1em;
  font-weight: 500;
}

h2 {
  font-weight: 300;
  font-size: 20px;
}

ul {
  font-size: 1.6em;
  text-align: justify;
}

h3 {
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  border-bottom: dashed 2px #CCCCCC;
  padding-bottom: 10px;
  margin-bottom:40px;
}

.header-left {
  margin-top: 20px;
  @media #{$medium} {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  @media #{$small} {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.header-right {
  text-align: right;

  p {
    text-align: right;
    margin-top: 0;
    font-size: 1em;

    @media #{$medium} {
      text-align: center;
    }
    @media #{$small} {
      text-align: center;
    }

    a {
      font-weight: 500;
    }
  }

  @media #{$medium} {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  @media #{$small} {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

}

ul.icons a:hover {
 background:rgba(0,0,0,0.025)
}
ul.icons li {
 display:inline-block;
 padding-left: 0.25em;
}
ul.icons a {
 -moz-transition:background-color 0.25s ease-in-out;
 -webkit-transition:background-color 0.25s ease-in-out;
 -ms-transition:background-color 0.25s ease-in-out;
 transition:background-color 0.25s ease-in-out;
 display:inline-block;
 width:2.75em;
 height:2.75em;
 line-height:2.8em;
 text-align:center;
 border:0;
 box-shadow:none;
 padding:0;
 border-radius:100%;
 color:#aaa
}
.icons i {
 font-size:30px;
 line-height:60px
}
.icons {
 margin-top: 0;
 padding:0;
 font-size:1em;
 margin-bottom:15px;
 text-align:right;

 @media #{$medium} {
   text-align: center;
 }
 @media #{$small} {
   text-align: center;
 }
}

.profile-img {
 width:232px;
 height:232px;
 margin:0 auto;
 margin-bottom:20px;
 display:block;
 border-radius:116px;
 background-size:cover;
 background-position:center;
 background-repeat:repeat, no-repeat;
}

.research {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2.5em;

  @media #{$medium} {
    display: block;
  }
  @media #{$small} {
    display: block;
  }

  .research-illu {
    width: 50%;
    padding-right: 1em;
    img {
      width: 100%;
    }

    @media #{$medium} {
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 2rem;
    }
    @media #{$small} {
      width: 100%;
      padding-bottom: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  .research-desc {
    width: 50%;
    padding-left: 1.5em;

    h2 {
      font-weight: 400;
    }

    @media #{$medium} {
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    @media #{$small} {
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
