---
---

@import "variables";
@import "mixins";
@import "fonts";
@import "typography";
@import "syntax";
@import "postcards";

.header {
  height: 100%;
  position: relative;
  width: 100%;
  min-height: 300px;
  text-align: left;
  color: $white;
  @media #{$medium} {
    display: block !important;
  }
  @media only screen and (max-height: 500px) {
    display: block !important;
  }
}

.wrapper {
	// width: calc(100% - 1rem);
    // width: 60%;
    width: 850px;
	max-width: 850px;
	margin: 4rem auto;
	background: $background_color;
	color: $color_tuatara;
	padding: 2em 0em;
	border-radius: 3px;
/*	box-shadow: 0 0 10px 0 rgba($color_shark,0.3);*/
	@media #{$mobile_devices} {
		width: 100%;
		padding: 2em 0;
	    box-shadow: none;
        margin: 2em 0;
	}
}

.content {
  //font-size: .875rem;
  //line-height: 1.8571;
  margin-bottom: 1.625rem;
  padding: 0 2rem;
  text-align: justify;

  a {
    color: #e0491f;
    border-bottom: 1px dotted #bbb;
  }
  a:hover {
    border-bottom: 1px solid $post_underline_color;
  }
  a:visited {
    color: #e0491f;
    text-decoration: none;
  }

  .figlink {
    border-bottom: none;
  }
  .figlink:hover {
    border-bottom: none;
  }

  figure {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    @include clearfix();
    img {
      margin-left: 1px;
      margin-right: 1px;
      width: calc(100% - 2px);
      // margin-bottom: 10px;
      // @include rounded(4px);
    }

    &.half {
      // @media only screen and (min-width: 62.5em) {
        img {
          width: calc(50% - 2px);
          float: left;
          margin-left: 1px;
          margin-right: 1px;
        }
        figcaption {
          clear: left;
        }
      // }
    }
    &.third {
      // @media only screen and (min-width: 62.5em) {
        img {
          width: calc(33.3% - 2px);
          float: left;
          margin-left: 1px;
          margin-right: 1px;
        }
        figcaption {
          clear: left;
        }
      // }
    }
    &.nopad-top {
      padding-top: 1px;
    }
    &.nopad-bottom {
      padding-bottom: 1px;
    }
    &.largeim {
      @media only screen and (min-width: 62.5em) {
        img {
          margin-left: -20%;
          width: 140%;
        }
      }
    }
  }
  svg:not(:root) {
    overflow: hidden; 
  }

  @media #{$mobile_devices} {
    text-align: left;
	}

  .references {
  }

  .notations-table {
    border-top: 2px solid #828282;
    border-bottom: 2px solid #828282;

    
    tr {
      border-top: 0px;
      border-bottom: 0px;
      th {
        text-align: left;
        border-bottom: 2px solid #828282;
        border-left: none;
        border-right: none;
      }

      td {
        text-align: left;
        border-bottom: 1px solid #e8e8e8;
        border-left: none;
        border-right: none;
      }
    }
  }

  // Headings and separators
  h2 {font-size: 1.75em}
  h3 {font-size: 1.5em}
  h4 {font-size: 1.2em}
  hr {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.comments {
  @include clearfix();
  margin-top: 2em;
}

.feature {
    /*@include transition(.5s);*/
    @media #{$medium} {
        /* background-image: none !important; */
    }
    @media #{$medium} {
        color: white;
        padding: 4em;
        margin-left: -4rem;
        margin-right: -4rem;
        margin-top: -2rem;
        border-radius: 3px 3px 3px 3px;
        background-color: rgba($black, 0.3);
        background-blend-mode: multiply;
        background-position: center center;
    }
    @media #{$notsmall} {
        color: white;
        padding: 10em;
        margin-left: -4rem;
        margin-right: -4rem;
        margin-top: -2rem;
        border-radius: 3px 3px 3px 3px;
        background-color: rgba($black, 0.3);
        background-blend-mode: multiply;
        background-position: center center;
    }
}

.post-title {
	text-align: center;
	font-weight: bold;
	margin-bottom: 3rem;
}


