/* Timeline */
#timeline {
  font-size: 20px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .timelineitem:nth-child(odd) {
    margin-left: 50%;
    border-left: 5px solid #333;
    text-align: left;
    padding-left: 55px;
    padding-right: 20px;

    .timelinelogo {
      left: -33px;
    }
  }
  .timelineitem:nth-child(even) {
    margin-right: 50%;
    margin-left: 5px;
    border-right: 5px solid #333;
    text-align: right;
    padding-left: 20px;
    padding-right: 55px;

    .timelinelogo {
      right: -33px;
    }
  }
  .timelineitem {
    width: 50%;
    position: relative;
    padding-top: 0px;
    padding-bottom: 30px;
  }
  .timelineitem:nth-child(odd):before {
   left: -8px;
  }
  .timelineitem:nth-child(even):before {
    right: -8px;
  }
}

.timelinelogo {
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  background-color: #fff;
  top: 0;
  border-radius: 30px;
  text-align: center;
  border: 2px solid;

  img {
    left: 50%;
    top: 50%;
    position: absolute;
    display: block;
    vertical-align: middle;
    width: 60%;
    transform: translate(-50%, -50%);
  }
}

/*
.timelineitem:before {
  content: "";
  width: 11px;
  height: 11px;
  background: #333;
  display: block;
  position: absolute;
  top: 0;
  border-radius: 5px;
}
*/

@media (max-width: 768px) {
  .timelineitem {
    border-left: 5px solid #333;
    text-align: left;
    margin-left: 50px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 50px;
    position: relative;

    .timelinelogo {
      left: -33px;
    }
  }
  .timelineitem:before {
    left: -8px;
  }
}

.tdate {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: -5px;
  color: rgb(132,0,0);
}
.ttitle {
  font-size: 20px;
  font-weight: 400;
}
.tdesc {
  font-size: 18px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .tdate {
    font-size: 16px;
  }
  .ttitle {
    font-size: 16px;
  }
  .tdesc {
    font-size: 16px;
  }
}
