.main-header {
  border-bottom: 1px solid #aaa;
}

.center-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.nav-main {
  font-size: 16px;
  height: 40px;
  display: flex;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  padding: 0 1rem;
  text-transform: uppercase; 
}

.nav-main a {
  line-height: 40px;
  margin: auto;
  color: #333;
  text-decoration: none;
  padding-top: 0px;
}

.nav-main a:hover, .nav-main a:focus, .nav-main a:active {
  color: #766257;
}

.avatar {
  width: 72px;
  height: 72px;
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 50% 50% 50% 50%;
  padding: 2px;
  vertical-align: top;
  z-index: -1;
}
