---
---
<!DOCTYPE html>
<head>
  {% include meta.html %}
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.url }}/assets/css/base.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/post.css">

  {% if page.image.feature and page.image.display %}
  {% capture feature %}{{ page.image.feature }}{% endcapture %}
  {% capture feature %}{{ site.url }}/{{ feature }}{% endcapture %}
  <style type="text/css">.feature {background-image:url({{ feature }}) !important; background-size:cover; background-position: center center;}</style>
  {% endif %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      CommonHTML: { scale: 100 },
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        processEscapes: true
      },
      TeX: {
        equationNumbers: { autoNumber: "AMS" },
        extensions: ["color.js"],
      }
    });
  </script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

</head>

<body>
  {% include nav.html %}
    <div class="wrapper">

      <div class="content">
        {% include donations.html %}
  
        <div class="post-title {% if page.image.display and page.image.feature %} feature {% endif %}">
          <h1>{{ page.title }}</h1>
          {% if page.type == 'article' %}
          <h4>
            <i class="fa fa-history"></i>&ensp;
            <a href={{ page.commits }}>{{ page.date | date_to_string }}</a>
          </h4>
          {% endif %}
        </div>

        {% if page.hidden %}
        <blockquote><p style="color: #fc0303;">
          <b>WARNING:</b> if you are seeing this message, it means that this post is hidden.
          I probably gave you the link to this post to ask for your feedback.
          Please refrain from sharing this post. Thank you.
        </p></blockquote>
        <br>
        {% endif %}

        {% if page.show_excerpt %}
        <blockquote><p>{{ page.excerpt }}</p></blockquote>
        {% endif %}

        {% if page.updates %}
          {% for update_notice in page.updates %}
          <p>
            <span style="color: #fc0303;">Updated on {{ update_notice.date | date_to_string }}:</span>
            <span style="color:#286ee0;">{{ update_notice.description }}</span>
          </p>
          {% endfor %}
          <hr>
        {% endif %}

        {{ content }}

        <hr>
        {% include donations.html %}

        <hr>
        {% include highlighted_posts.html num_limit=3 description="<h3>Also on Vu's blog</h3>" %}

        {% if page.comments == true and site.disqus_shortname %}
          <div class="comments">
          <section id="disqus_thread"></section><!-- /#disqus_thread -->
          </div>
        {% endif %}
    
      </div>
    </div>

  {% if page.comments == true and site.disqus_shortname %}
    {% include disqus.html %}
  {% endif %}
</body>

