---
---
<head>
  {% include meta.html %}
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.url }}/assets/css/base.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/post.css">

  {% if page.image.feature and page.image.display %}
  {% capture feature %}{{ page.image.feature }}{% endcapture %}
  {% capture feature %}{{ site.url }}/{{ feature }}{% endcapture %}
  <style type="text/css">.feature {background-image:url({{ feature }}) !important; background-size:cover; background-position: center center;}</style>
  {% endif %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      CommonHTML: { scale: 100 },
      TeX: { equationNumbers: { autoNumber: "AMS" } }
    });
  </script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

</head>

<body>
  {% include nav.html %}

  <header class="header" role="banner">
    <div class="wrapper">
      <div class="content">
        <div class="post-title {% if page.image.display and page.image.feature %} feature {% endif %}">
          <h1>{{ page.title }}</h1>
          <h4>{{ page.date | date_to_string }}</h4>
        </div>
        {{ content }}
        {% if page.comments == true and site.disqus_shortname %}
          <div class="comments">
          <section id="disqus_thread"></section><!-- /#disqus_thread -->
          </div>
        {% endif %}
      </div>
    </div>
  </header><!-- header -->

  {% if page.comments == true and site.disqus_shortname %}
    {% include disqus.html %}
  {% endif %}
</body>

